<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Player Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Lilita+One|Shrikhand" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <style>
  </style>
  <body>
    <div>
      <% include partials/navbar %>
    </div>
    <div class="content">
      <div class="sidebar">
        /  profile information
        <div class="playerpanel">
          <% if(profile !== null){ %>
          <img class="avatar" src=<%="" + profile.avurl%> alt="avatar"/>
          <div class="info">
            <div class="t1"><%=profile.name%></div>
            <ul class="detail">
              <li class="cat">platform:</li>
              <li>steam</li>
            </ul>
            <ul class="detail2">
              <li class="cat"><a href =<%=profile.link%>>profile link</a></li>
            </ul>
          </div>
          <% } %>
        </div>
      </div>
      <div class="main">
        /  rank information
        <div class="rankpanels">
          <div class="panel">
            <div class="t1">
              standard
            </div>
            <% if(standard !== null){ %>
              <div>
                <%=standard.rankString%>
                <%=standard.divisionString%>
              </div>
              <div>
                <img class="rankpic" src=<%="/images/site/" + standard[1] + ".png"%> alt="rank"/>
              </div>
              <div>
              rating: <%=standard[0]%>
              </div>
            <% } %>
            <% if(error !== null){ %>
              <%= error %>
            <% } %>
          </div>
          <div class="panel">
            <div class="t1">
              doubles
            </div>
            <% if(doubles !== null){ %>
              <div>
                <%=doubles.rankString%>
                <%=doubles.divisionString%>
              </div>
              <div>
                <img class="rankpic" src=<%="/images/site/" + doubles[1] + ".png"%> alt="rank"/>
              </div>
              <div>
              rating: <%=doubles[0]%>
              </div>
            <% } %>
            <% if(error !== null){ %>
              <%= error %>
            <% } %>
          </div>
          <div class="panel">
            <div class="t1">
              duel
            </div>
            <% if(duel !== null){ %>
              <div>
                <%=duel.rankString%>
                <%=duel.divisionString%>
              </div>
              <div>
                <img class="rankpic" src=<%="/images/site/" + duel[1] + ".png"%> alt="rank"/>
              </div>
              <div>
              rating: <%=duel[0]%>
              </div>
            <% } %>
            <% if(error !== null){ %>
              <%= error %>
            <% } %>
          </div>
          <div class="panel">
            <div class="t1">
              solo standard
            </div>
            <% if(solo !== null){ %>
              <div>
                <%=solo.rankString%>
                <%=solo.divisionString%>
              </div>
              <div>
                <img class="rankpic" src=<%="/images/site/" + solo[1] + ".png"%> alt="rank"/>
              </div>
              <div>
              rating: <%=solo[0]%>
              </div>
            <% } %>
            <% if(error !== null){ %>
              <%= error %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% include partials/footer %>
  </body>
</html>